@font-face {
  src: url(../assets/font/Nunito-Regular.ttf);
  font-family: 'Nunito-Regular';
}

@font-face {
  src: url(../assets/font/Nunito-SemiBold.ttf);
  font-family: 'Nunito-SemiBold';
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  color: black;
}

.navbar {
  background-color: #F8F8F8;
}

.navbar a {
  color: black !important;
}

#content-forms {
  margin-top: 3rem;
}

#content-forms .container_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Nunito-Regular";
}

#content-forms .container_information .progress_steps {
  padding-top: 4.5rem;
  margin-right: 1rem;
  min-width: 15rem;
  counter-reset: number;
}

#content-forms .container_information .progress_steps li {
  list-style: none;
  position: relative;
  color: #b7b7b7;
  background-color: #eaeaea;
  -webkit-transition: background-color .3s , color .3s;
  transition: background-color .3s , color .3s;
  z-index: 10;
}

#content-forms .container_information .progress_steps li:not(:nth-child(1))::before {
  counter-increment: number;
  content: counter(number) ".";
  display: inline-block;
  color: inherit;
}

#content-forms .container_information .progress_steps li.active {
  font-family: "Nunito-SemiBold";
  color: white;
  background: #1e1eaa;
  border: none;
  cursor: pointer;
}

#content-forms .container_information .progress_steps li.success {
  color: white;
  font-family: "Nunito-SemiBold";
  background-color: #40ad61;
  cursor: pointer;
}

#content-forms .container_information .progress_steps li.edit {
  background-color: #868686;
  position: relative;
  color: white;
  cursor: default;
}

#content-forms .container_information .progress_steps li.edit::after {
  position: absolute;
  right: 0px;
  bottom: -2px;
  content: 'Edit';
  font-size: 11px;
  padding: 1px 9px;
  color: black;
  font-family: "Nunito-SemiBold";
  background-color: #969696;
  border-radius: 3px 0 0 3px;
}

#content-forms .container_information .progress_steps .list-group-item {
  cursor: no-drop;
}

#content-forms .container_information .progress_steps .main-item {
  background-color: white;
  color: black;
  cursor: default;
  font-family: "Nunito-SemiBold";
}

.forms_data {
  width: 60rem;
  max-width: 65rem;
  padding: 1.8rem 1rem;
  height: 100%;
}

.forms_data .container-forms {
  position: relative;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: #fff;
  min-height: 50rem;
  width: 100%;
}

.header-address {
  padding: 1.2rem 5rem;
  border: 1px solid #e6e6e6;
  margin-bottom: 1.5rem;
  position: relative;
}

.header-address h3 {
  font-size: 26px !important;
  font-family: "Nunito-SemiBold";
  margin: 0 !important;
}

.header-address .bar-steps {
  height: 4px;
  border-radius: 2px;
  background: #4152c1;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.input-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5rem;
}

.input-2 .input_style {
  padding: 0;
  width: 100%;
}

.input-2 .input_style:nth-child(1) {
  padding-right: 1rem;
}

.input-2 .input_style:nth-child(2) {
  padding-left: 1rem;
}

.input_style {
  padding: 0 5rem;
  margin-bottom: 20px;
}

.input_style label, .input_style .form-control {
  width: 100%;
  font-family: "Nunito-SemiBold";
}

.input_style .address-inp {
  margin-bottom: 0;
}

.input_style textarea {
  resize: vertical;
  margin-top: 5px;
}

.radio, .input_style .radio_style {
  margin: .5rem 0;
}

.radio [type="radio"], .input_style .radio_style [type="radio"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #AAA;
  color: #615e5e;
  display: inline-block;
  padding: .355rem 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.radio [type="radio"]::after, .input_style .radio_style [type="radio"]::after {
  content: attr(data-value);
  text-transform: capitalize;
}

.radio [type="radio"]:checked, .input_style .radio_style [type="radio"]:checked, .radio [type="radio"]:hover, .input_style .radio_style [type="radio"]:hover {
  background-color: #4152c1;
  color: white;
}

.input_style .radio_style .more_info {
  display: none;
}

.input_style .radio_style [data-value="yes"]:checked ~ .more_info {
  display: block;
}

.btns {
  margin-top: 3rem;
  width: 100%;
  padding: 1.2rem 5rem;
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btns button {
  padding: .5rem 2rem;
  border-radius: 4px;
  outline: none;
  background-color: #4152c1;
  color: white;
  border: none;
}

.btns button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btns .disabled {
  background-color: #b1b1b1;
  cursor: no-drop;
  color: white;
}

.btns button:nth-child(2) {
  padding: .6rem 2.6em;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 0 5rem;
}

.address .btn-add, .address .btn-remove {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: #4152c1;
  font-family: "Nunito-SemiBold";
  outline: none;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.address .btn-add:active, .address .btn-remove:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.address .btn-add .text, .address .btn-remove .text {
  margin-right: 5px;
}

.address .btn-remove {
  color: #c14141;
}

.address h4 {
  color: #4152c1;
  border-bottom: 3px solid #AAA;
  font-size: 1.3rem;
  margin: 0;
}

._modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
}

._modal > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
}

._modal .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

._modal .btn:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

._form {
  position: relative;
  height: 100%;
}

._form ._opacity {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: white;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#container-form1 {
  min-height: 43rem;
}

#container-form2 {
  min-height: 43rem;
}

#container-form3 {
  min-height: 43rem;
}

#container-form4 {
  min-height: 43rem;
}

#container-form5 {
  min-height: 43rem;
}

#container-form6 {
  min-height: 43rem;
}

#container-form7 {
  min-height: 43rem;
}

#container-form8 {
  min-height: 43rem;
}

@media (max-width: 1000px) {
  .header-address, .input_style, .btns, .input-2, .address {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: 760px) {
  .container_information {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .header-address h3 {
    font-size: 21px !important;
  }
  .progress_steps {
    width: 100%;
    padding: 0 1rem;
  }
  .progress_steps .list-group {
    width: 100%;
    margin: 0 auto;
  }
  .forms_data {
    width: auto;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .input-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-2 .input_style {
    padding: 0 !important;
  }
  .btn-add, .btn-remove {
    font-size: 11px;
  }
  .btn-add img, .btn-remove img {
    width: 13px;
  }
  .btns button {
    padding: 0.46666em 1em !important;
    font-size: 13px;
  }
  .btns button:nth-child(2) {
    padding-right: 1.8em !important;
    padding-left: 1.8em !important;
  }
}
/*# sourceMappingURL=style.css.map */